.checkbox {
  position: relative;
  &:not(:last-child) {
    margin-bottom: em(5);
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label:before {
    }
    &:checked + .checkbox__label:before {
      background: url('@img/icons/ok.svg') center/10px no-repeat;
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
    &:before {
      content: '';
      align-self: flex-start;
      flex: 0 0 rem(14);
      width: rem(14);
      height: rem(14);
      border: 1px solid #a7a9ac;
      border-radius: rem(3);
    }
  }
  // .checkbox__text
  &__text {
  }
}
