@font-face {
  font-family: DIN2014;
  font-display: swap;
  src: url('../fonts/DIN2014-ExtraLight.woff2') format('woff2'),
    url('../fonts/DIN2014-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: DIN2014;
  font-display: swap;
  src: url('../fonts/DIN2014-Italic.woff2') format('woff2'),
    url('../fonts/DIN2014-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: DIN2014;
  font-display: swap;
  src: url('../fonts/DIN2014-Bold.woff2') format('woff2'), url('../fonts/DIN2014-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url('../fonts/LabGrotesque-Black.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: DIN2014;
  font-display: swap;
  src: url('../fonts/DIN2014-Regular.woff2') format('woff2'),
    url('../fonts/DIN2014-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url('../fonts/LabGrotesque-Italic.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url('../fonts/LabGrotesque-Bold.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url('../fonts/LabGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url('../fonts/LabGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DIN2014;
  font-display: swap;
  src: url('../fonts/DIN2014-BoldItalic.woff2') format('woff2'),
    url('../fonts/DIN2014-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: LabGrotesqueMono;
  font-display: swap;
  src: url('../fonts/LabGrotesqueMono-Bold.woff2') format('woff2'),
    url('../fonts/LabGrotesqueMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: PTRootUI;
  font-display: swap;
  src: url('../fonts/PTRootUI-Regular.woff2') format('woff2'),
    url('../fonts/PTRootUI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url('../fonts/icons.woff2') format('woff2'), url('../fonts/icons.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
