.page {
  &__breadcrumps {
  }

  &__catalog-menu {
    padding-top: rem(32);
    background-color: #e8f0f3;
  }

  &__catalog-points {
    background-color: #e8f0f3;
    padding: rem(34) 0px rem(30) 0px;
  }

  &__catalog-body {
    @include adpv('padding-top', 1, 40, 24);
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 84, 34);
    }
  }
  &__catalog-series {
    &:not(:last-child) {
      margin-bottom: rem(36);
    }
  }
  &__catalog-slider {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 38, 50);
    }
  }
  &__reviews {
  }
}

//catalog menu styles
.catalog-menu {
  &__container {
  }

  &__inner {
    display: grid;

    @include adpv('gap', 1, 24, 12);
    align-items: start;

    @media (min-width: $tablet) {
      grid-template-columns: minmax(rem(280), rem(390)) 1fr;
    }
  }

  &__main-card {
  }

  &__sub-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(170), 1fr));
    @include adpv('column-gap', 1, 24, 12);
    @include adpv('row-gap', 1, 22, 12);
  }
  &__sub-card {
  }
}
.main-card-menu {
  position: relative;
  display: block;
  @include adpv('min-height', 1, 572, 462);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include adpv('padding-bottom', 1, 42, 33);
  @include adpv('padding-top', 1, 30, 20);
  @include adpv('padding-left', 1, 30, 20);
  @include adpv('padding-right', 1, 30, 20);
  background-color: $color-white;
  border-radius: rem(6);
  overflow: hidden;

  transition: all 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    }
  }
  &__image {
    object-fit: contain;
  }

  &__title {
    position: relative;
    text-align: center;

    font-weight: 600;
    line-height: 140%;

    @include adpv('font-size', 1, 16, 14);
    text-align: center;
    text-transform: uppercase;

    color: #272727;

    font-family: $fontSecond;

    &::before {
      content: '27';
      position: absolute;
      top: rem(-20);
      right: rem(-6);
      color: #f08235;
    }
  }
}

.sub-menu-card {
  position: relative;
  border-radius: rem(6);
  overflow: hidden;
  display: block;
  display: flex;
  align-items: flex-end;

  @include adpv('padding-bottom', 1, 24, 18);
  @include adpv('padding-top', 1, 24, 18);
  @include adpv('padding-left', 1, 22, 19);
  @include adpv('padding-right', 1, 22, 19);

  @include adpv('min-height', 1, 275, 212);

  transition: all 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    }
  }

  &__content {
    position: relative;

    font-weight: 600;
    font-size: rem(12);
    text-transform: uppercase;
    color: $color-white;
  }

  &__value {
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
    line-height: 140%;
    font-family: $fontSecond;

    &_mod {
      color: #f08235;
    }
  }

  &__title {
    line-height: 140%;
    font-family: $fontSecond;

    &_mod {
      color: #272727;
    }
  }

  &__image {
  }
}

//catalog points styles
.catalog-points {
  &__container {
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(20);
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(6);

    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  &__item {
    background: #ffffff;
    border-radius: rem(6);
    padding: rem(2) rem(8);

    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(129, 101, 41, 0.3);
        -moz-box-shadow: 4px 4px 8px 0px rgba(129, 98, 32, 0.3);
        box-shadow: 4px 4px 8px 0px rgba(194, 161, 52, 0.3);
      }
    }
    display: inline-flex;
    align-items: flex-start;
    gap: rem(5);
    &._active {
      background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
    }
    &._close {
      display: none;
    }
  }

  &__item-text {
    font-size: rem(14);
    line-height: 140%;

    color: #272727;
    pointer-events: none;
  }

  &__item-value {
    font-size: rem(10);
    line-height: 140%;
    pointer-events: none;
  }

  &__show-button {
    white-space: nowrap;

    font-size: rem(12);
    line-height: 140%;
    color: #272727;
    border-bottom: rem(2) dotted #585757;
  }
}

//catalog body styles

.catalog-body {
  &__container {
  }

  &__inner {
    display: grid;
    gap: rem(20);

    @media (min-width: $tablet) {
      grid-template-columns: minmax(rem(250), rem(316)) 1fr;
    }
  }

  &__filters {
  }

  &__content {
  }
}

.filters-catalog {
  &__spollers {
    @media (max-width: $mobile) {
      margin: 0px rem(-15);
    }
  }

  &__item {
    &:not(:last-child) {
      .filters-catalog__title {
        border-bottom: 1px solid #d9dada;
      }
    }
  }

  &__title {
    background: #0c131b;
    width: 100%;
    text-align: left;
    padding-left: rem(25);
    padding-right: rem(25);
    @include adpv('padding-bottom', 1, 15, 12);
    @include adpv('padding-top', 1, 15, 12);

    font-family: $fontSecond;

    font-weight: 600;

    @include adpv('font-size', 1, 18, 16);
    line-height: 140%;

    text-transform: uppercase;
    color: $color-white;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    &::before {
      transition: transform 0.3s ease 0s;
      transform: rotate(90deg);
    }

    &._spoller-active {
      &::before {
        transform: rotate(-90deg);
      }
    }
    &_first {
      border-radius: rem(5) rem(5) rem(0) rem(0);
      @media (max-width: $mobile) {
        border-radius: 0px;
      }
    }
    &_mod {
      background: #306678;
    }
  }

  &__body {
  }

  &__list {
    padding: rem(12) rem(25);
    background-color: #f6f6f6;
    display: grid;
    gap: rem(10);
  }

  &__list-item {
  }

  &__link {
    font-size: rem(14);
    line-height: 140%;
    color: #272727;
    & span:first-child {
      transition: all 0.2s ease 0s;
    }
    &:hover {
      & span:first-child {
        color: #f95d1a;
      }
    }
  }
  &__link-value {
    margin-left: rem(6);
    color: #a8a8a8;
  }

  &__title-decor {
    color: #a8a8a8;
    font-weight: 400;
  }
}

.content-catalog {
  display: grid;

  @include adpv('gap', 1, 20, 10);
  &__options {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    align-items: flex-start;
  }

  &__parameters {
    display: flex;
    align-items: flex-start;
    gap: rem(36);
  }

  &__weight {
  }

  &__weight-form {
  }

  &__diameter {
  }

  &__diameter-form {
  }

  &__popularity {
  }

  &__popularity-form {
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));

    align-content: start;

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fit, minmax(rem(194), 1fr));
    }

    @media (max-width: $tablet) {
      margin: 0px rem(-15);
    }
  }

  &__card {
    display: block;
  }
  &__card-banner {
  }

  &__pages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(18);
    margin-top: rem(10);
    @media (max-width: $tablet) {
      justify-content: center;
    }
    @media (max-width: $mobile) {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }

  &__show-more {
    padding-left: rem(30);
    padding-right: rem(30);
  }

  &__pages-items {
    display: flex;
    align-items: center;
  }
}

.catalog-card-banner {
  &__inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    @include adpv('padding-bottom', 1, 35, 15);
    @include adpv('padding-top', 1, 35, 15);
    @include adpv('padding-left', 1, 32, 15);
    @include adpv('padding-right', 1, 32, 15);
    overflow: hidden;
  }

  &__image {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
        filter: blur(rem(3));
      }
    }
  }

  &__content {
    position: relative;
    color: $color-white;
    display: flex;
    flex-direction: column-reverse;
    &::before {
      font-size: rem(12);

      @media (min-width: $mobile) {
        font-size: rem(18);
      }
    }
    pointer-events: none;
  }

  &__title {
    font-family: $fontSecond;
    font-weight: 600;
    @include adpv('font-size', 1, 24, 16);
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: rem(4);
  }

  &__text {
    margin-bottom: rem(14);
  }
}

.pages-numbers {
  &__item {
    height: rem(40);
    width: rem(40);
    border: 1px solid #e5e5e5;
    &:first-child {
      border-radius: rem(5) 0px 0px rem(5);
    }
    &:last-child {
      border-radius: rem(0) rem(5) rem(5) rem(0);
    }
    &_active {
      background: #0c131b;
      border: none;
      color: $color-white;
    }
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $color-white;
        background: #0c131b;
        border: none;
      }
    }
  }
}

// catalog slider styles
.catalog-slider {
  &__heading {
    @include adpv('margin-bottom', 1, 25, 22);
    display: flex;
    align-items: center;
    @include adpv('gap', 1, 20, 8);

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__container {
  }
  &__title-decor {
    transform: translate(0px, -2px);
  }
  &__title {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 700;
    @include adpv('font-size', 1, 40, 20);
    line-height: 120%;
    text-transform: uppercase;

    color: #272727;

    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__slider {
  }
}
