//Выгодные предложения
.offer-card {
  display: block;
  border-radius: rem(6);
  background-color: $unload-color;

  @include adpv('min-height', 1, 300, 212);

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  transition: all 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    }
  }
  &__content {
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    z-index: 2;
    @include adpv('padding-top', 1, 30, 20);
    @include adpv('padding-bottom', 1, 70, 40);
    @include adpv('padding-right', 1, 64, 20);
    @include adpv('padding-left', 1, 64, 20);
  }

  &__title {
    font-family: DIN2014;
    text-align: center;
    line-height: math.div(45, 32);
    @include adpv('font-size', 1, 32, 20);
    font-weight: 600;
    font-style: italic;
    color: $color-white;
  }

  &__text {
    font-weight: 400;
    @include adpv('font-size', 1, 20, 14);
    line-height: math.div(28, 20);
    text-align: center;
    color: $color-white;

    span {
      color: #ffde7d;
      font-weight: 700;
    }
  }

  &__decor {
    position: absolute;

    @include adpv('right', 1, 35, 15);
    @include adpv('bottom', 1, 35, 15);
    z-index: 3;

    &::before {
      color: $color-white;
      font-size: rem(18);
    }
  }
}

//Блок премьера
.premiere-block {
  &__container {
  }

  &__inner {
    position: relative;
    border-radius: rem(6);
    overflow: hidden;

    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
      }
    }
  }

  &__content {
    display: block;
    position: relative;

    text-align: center;
    @include adpv('padding-top', 1, 118, 50);
    @include adpv('padding-bottom', 1, 80, 50);
    @include adpv('padding-right', 1, 40, 34);
    @include adpv('padding-left', 1, 40, 34);
    color: $color-white;
  }

  &__title {
    font-family: $fontSecond;
    font-style: italic;
    @include adpv('font-size', 1, 48, 30);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: math.div(45, 48);
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 12, 10);
    }

    span {
      white-space: nowrap;
    }
  }

  &__interest {
    @include adpv('font-size', 1, 32, 18);
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 16, 10);
    }
  }

  &__text {
    font-weight: 600;
    @include adpv('font-size', 1, 32, 16);
    font-style: italic;
    &:not(:last-child) {
      margin-bottom: rem(50);
    }
  }

  &__made {
  }

  &__image {
    filter: brightness(0.4);

    z-index: -2;
  }
}

.made-decor {
  display: grid;
  gap: rem(20);
  &__icon {
  }

  &__text {
    font-size: rem(16);
    line-height: math.div(22, 16);
    text-align: center;
    color: $color-white;
  }
}

.interest-banner {
  font-family: $fontSecond;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  padding: rem(6) rem(16);
  background: linear-gradient(90deg, #306678 21.06%, #cf6e2b 90.9%);
  border-radius: rem(5);
  display: inline-block;
  &_nobold {
    font-weight: 400;
  }
}

//addresses block styles
.footer-addresses {
  &__container {
  }

  &__spollers {
  }
}
.spollers-addresses {
  display: grid;

  @include adpv('gap', 1, 22, 10);
  @media (min-width: em(1150)) {
    grid-template-columns: repeat(auto-fit, minmax(rem(360), 1fr));
  }
  &__item {
    background: #131d28;
    border-radius: rem(5);
    @include adpv('padding-top', 1, 40, 20);
    @include adpv('padding-bottom', 1, 40, 20);
    @include adpv('padding-left', 1, 50, 20);
    @include adpv('padding-right', 1, 50, 20);

    color: $color-white;
    @media (min-width: em(621)) {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__title {
    display: flex;
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 600;
    align-items: center;
    @include adpv('font-size', 1, 20, 14);
    line-height: 140%;
    text-transform: uppercase;
    span {
      text-align: left;
    }
    &::before {
      font-size: rem(26);
      margin-right: rem(18);
    }
    cursor: default;
    @media (max-width: em(620)) {
      cursor: pointer;
      width: 100%;

      span {
        flex: 1 1 auto;
        margin-right: rem(14);
      }
    }
    &::after {
      @extend %ic;
      @media (max-width: em(620)) {
        content: '\e912';

        font-size: rem(14);
        transform: rotate(90deg);
        transition: transform 0.3s ease 0s;
      }
    }
    &._spoller-active {
      &::after {
        @media (max-width: em(620)) {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__body {
    &:not(:first-child) {
      @include adpv('margin-top', 1, 14, 20);
    }
    @media (min-width: em(621)) {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      flex: 1 1 auto;
    }
  }

  &__phone {
    font-family: $fontSecond;
    @include adpv('font-size', 1, 24, 16);
    font-weight: 600;
    line-height: math.div(36, 20);
    display: block;
  }

  &__mail {
    @include adpv('font-size', 1, 16, 14);
    line-height: 150%;
    color: #f4dd99;
    display: inline-block;
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 26, 18);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
    line-height: 150%;

    @media (min-width: em(621)) {
      flex: 1 1 100%;
    }
    @include adpv('font-size', 1, 14, 12);

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 13, 20);
    }
  }

  &__info-call {
    display: inline-block;
    padding: rem(6) rem(15);
    border: 1px solid #e5e5e5;
    border-radius: rem(5);
    background-color: #131d28;

    font-size: rem(14);
    line-height: 150%;
    span {
      color: #ffac72;
    }

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $color-white;
        color: #131d28;
        span {
          color: #ee8840;
        }
      }
    }
  }
}

//cities block styles
.cities-footer {
  &__container {
  }

  &__title {
    font-family: $fontSecond;
    text-transform: uppercase;

    font-style: italic;
    font-weight: 600;
    @include adpv('font-size', 1, 24, 20);
    line-height: 140%;
    color: $color-white;
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 38, 20);
    }
  }

  &__inner {
    display: grid;

    @include adpv('gap', 1, 60, 20);

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 36, 30);
    }
    @media (min-width: $tablet) {
      grid-template-columns: minmax(rem(290), rem(380)) 1fr;
    }
  }

  &__countries {
    align-self: start;
    display: grid;
    gap: rem(5);
    grid-template-columns: repeat(2, 0.5fr);
    justify-items: left;
    @media (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(rem(130), 1fr));
    }
  }

  &__country {
    color: $color-white;
    font-weight: 700;
    font-size: rem(14);

    padding: rem(10);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cities {
  }

  &__cities-item {
    display: grid;

    column-gap: rem(10);
    row-gap: rem(10);
    grid-template-columns: repeat(2, 0.5fr);
    justify-items: left;

    @media (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(rem(130), 1fr));
      column-gap: rem(30);
      row-gap: rem(20);
    }
    div {
      display: flex;
      flex-flow: column nowrap;
      row-gap: rem(10);

      @media (max-width: $tablet) {
        display: none;
        &:nth-child(1),
        &:nth-child(2) {
          display: flex;
        }
      }
    }
  }

  &__city {
    font-size: rem(14);
    display: inline-block;
    color: #586b81;
    transition: color 0.3s ease 0s;
    padding: rem(5);
    @media (any-hover: hover) {
      &:hover {
        color: #ccd5df;
      }
    }
  }
  &__all {
    text-align: center;
  }
  &__all-button {
    display: inline-block;
    font-size: rem(14);
    font-weight: 600;
    line-height: math.div(20, 14);
    text-align: center;
    text-transform: uppercase;
    color: #586b81;
    padding: rem(10) rem(15);
    border: 1px solid #586b81;
    border-radius: rem(5);

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ccd5df;
        color: #131d28;
      }
    }
  }
}

//subscribe block styles
.subscribe-footer {
  @media (min-width: $tablet) {
    position: relative;
  }
  &__container {
  }

  &__inner {
    display: grid;

    @media (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
    }
  }

  &__banner {
  }

  &__subscribe {
  }
}
.banner-subscribe {
  @include adpv('padding-top', 1, 78, 26);
  @include adpv('padding-bottom', 1, 74, 40);

  @media (min-width: $tablet) {
    @include adpv('padding-right', 1, 20, 0);
  }
  @media (min-width: em(1200)) {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  @media (max-width: $tablet) {
    position: relative;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 120vw;
    height: 100%;
    background: linear-gradient(90deg, #306678 21.06%, #bf722d 82.39%);
    @media (min-width: $tablet) {
      width: 50%;
      left: 0px;
    }
    @media (max-width: $tablet) {
      transform: translate(-50%, 0px);
    }
  }
  &__title {
    color: $color-white;
    font-family: $fontSecond;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    @include adpv('font-size', 1, 24, 20);
    position: relative;

    @media (min-width: em(1200)) {
      @include adpv('margin-right', 1, 108, 20);
    }

    @media (max-width: em(1199)) {
      text-align: center;
      &:not(:last-child) {
        @include adpv('margin-bottom', 1, 30, 12);
      }
    }
  }

  &__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(22);

    @media (max-width: em(1199)) {
      justify-content: center;
    }
  }

  &__link {
  }
}
.link-social {
  background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
  box-shadow: 0px 0px 9px rgba(228, 128, 46, 0.66);
  border-radius: rem(15);
  height: rem(66);
  width: rem(66);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: rem(58);
    width: rem(58);
    background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
    box-shadow: 0px 0px 9px rgba(228, 128, 46, 0.66);
    border-radius: rem(10);
  }

  img {
    position: relative;
    z-index: 2;
  }

  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 0px 9px rgba(53, 50, 43, 0.66);
    }
  }

  @media (max-width: $tablet) {
    height: rem(54);
    width: rem(54);

    background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
    box-shadow: 0px 0px 9px rgba(228, 128, 46, 0.66);
    border-radius: rem(15);

    &::before {
      content: '';

      height: rem(46);
      width: rem(46);
      background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
      box-shadow: 0px 0px 9px rgba(228, 128, 46, 0.66);
      border-radius: rem(10);
    }
  }
}
.subscribe-form {
  @include adpv('padding-top', 1, 45, 20);
  @include adpv('padding-bottom', 1, 47, 30);

  @media (min-width: $tablet) {
    @include adpv('padding-left', 1, 85, 0);
  }

  &__title {
    font-weight: 600;

    line-height: 140%;
    font-family: $fontSecond;
    text-transform: uppercase;
    color: $color-white;
    font-style: italic;
    @include adpv('font-size', 1, 24, 20);
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 20, 15);
    }
    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  &__form {
    @media (max-width: $tablet) {
      padding-left: rem(15);
      padding-right: rem(15);
    }
  }
  &__email {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 10, 15);
    }
    @media (max-width: $mobileSmall) {
      flex-flow: column nowrap;
    }
  }
  &__input {
    width: 100%;
    height: rem(52);
    background: $color-white;
    border-radius: rem(5) 0px 0px rem(5);
    padding: rem(15) rem(24);
    position: relative;
    z-index: 3;
    &::placeholder {
      font-size: rem(16);
      line-height: 140%;
      color: #929292;
    }

    &:focus {
      outline: none;
      border: none;
    }

    @media (min-width: $tablet) {
      max-width: rem(346);
    }
    @media (max-width: $mobile) {
      height: rem(46);
    }
    @media (max-width: $mobileSmall) {
      margin-bottom: rem(5);
      border-radius: rem(5);
    }
  }

  &__send {
  }

  &__rights {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(10);
    @media (max-width: $tablet) {
      justify-content: center;
    }
  }
}

.send-button {
  height: rem(52);
  background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
  box-shadow: 0px 0px 9px rgba(249, 123, 21, 0.66);
  border-radius: rem(0) rem(8) rem(8) rem(0);
  padding: rem(10) rem(32);
  position: relative;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 0px 9px rgba(207, 205, 204, 0.66);

      &::before {
        box-shadow: 0px 0px 9px rgba(146, 67, 3, 0.66);
      }
    }
  }

  span {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-family: $fontSecond;
    font-size: rem(14);
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #272727;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: rem(44);
    top: 50%;
    left: calc(50% - rem(4));
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
    box-shadow: 0px 0px 9px rgba(228, 128, 46, 0.66);
    border-radius: 5px;

    transition: all 0.3s ease 0s;
  }

  &_mod {
    @media (max-width: $mobileSmall) {
      border-radius: rem(8);
      width: 100%;

      &::before {
        left: 50%;
        width: 98%;
      }
    }
    @media (max-width: $mobile) {
      height: rem(46);

      &::before {
        height: rem(40);
      }
    }
  }
}
.footer-br {
  @media (min-width: $mobileSmall) {
    display: none;
  }
}
//preview banner styles

.preview-banner {
  @media (min-width: $pc) {
    background: url('@img/preview-banner/1.png') center/rem(1524) no-repeat;
  }
  background: url('@img/preview-banner/1.png') top/133% no-repeat;

  &__container {
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adpv('min-height', 1, 128, 90);
  }

  &__title {
    text-align: center;
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 700;

    @include adpv('font-size', 1, 40, 20);
    line-height: 140%;
    text-transform: uppercase;
    padding: rem(6) rem(0);
    color: #1b1b1b;
  }
}

//benefits block styles
.benefits-main {
  &__container {
    display: grid;
    @include adpv('gap', 1, 20, 10);
  }

  &__inner {
    display: grid;
    @include adpv('gap', 1, 20, 10);

    @media (min-width: em(879.9)) {
      grid-template-columns: minmax(rem(400), rem(516)) minmax(rem(400), 1fr);
    }

    &_mod {
      @media (min-width: em(879.9)) {
        grid-template-columns: minmax(rem(400), 1fr) minmax(rem(400), rem(516));
      }
    }
  }

  &__item {
    display: block;
  }
}

.benefit-item {
  position: relative;
  @include adpv('padding-top', 1, 40, 24);
  @include adpv('padding-bottom', 1, 36, 24);
  @include adpv('padding-left', 1, 39, 24);
  @include adpv('padding-right', 1, 90, 60);

  @include adpv('min-height', 1, 346, 268);
  display: flex;
  align-items: flex-end;
  border-radius: rem(5);
  overflow: hidden;
  &::before {
    @extend %ic;
    content: '\e915';
    position: absolute;
    bottom: rem(30);

    @include adpv('right', 1, 45, 28);

    color: $color-white;
    font-size: rem(18);
  }

  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
    }
  }
  &__content {
    position: relative;

    color: $color-white;
  }

  &__title {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 600;
    @include adpv('font-size', 1, 32, 20);
    line-height: math.div(41, 32);
  }

  &__subtitle {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 600;
    @include adpv('font-size', 1, 32, 20);
    line-height: math.div(41, 32);

    text-transform: uppercase;
  }

  &__text {
    @include adpv('font-size', 1, 18, 14);
    line-height: math.div(22, 18);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    &::before {
      margin-left: rem(9);
      font-size: rem(16);
    }
  }

  &__decor {
    display: inline-block;
    font-style: italic;
    font-weight: 600;

    @include adpv('font-size', 1, 14, 12);
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    &:not(:first-child) {
      margin-top: rem(12);
    }

    @include adpv('padding-top', 1, 6, 4);
    @include adpv('padding-bottom', 1, 6, 4);
    @include adpv('padding-left', 1, 16, 10);
    @include adpv('padding-right', 1, 16, 10);
    background: linear-gradient(90deg, #306678 21.06%, #cf6e2b 90.9%);
    border-radius: rem(5);
  }

  &__image {
    z-index: -2;
  }
}

//product card styles

.swiper-block {
  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }
}

.product-item {
  @include adpv('padding-top', 1, 48, 10);
  @include adpv('padding-bottom', 1, 23, 10);
  @include adpv('padding-left', 1, 30, 18);
  @include adpv('padding-right', 1, 30, 18);
  border: 1px solid #f2f2f2;
  &__inner {
  }

  &__image-ibg_contain {
    display: block;
    padding-bottom: 108%;

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 35, 16);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin: rem(-10) rem(-10) rem(-10) 0px;
  }

  &__rating {
    margin-right: rem(10);
  }

  &__like {
    &::before {
      font-size: rem(16);
      color: #c4c4c4;
      transition: color 0.3s ease 0s;
    }
    padding: rem(10);

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: rgb(175, 43, 33);
        }
      }
    }
  }

  &__properties {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: rem(10);
    line-height: 140%;
    text-transform: uppercase;

    color: #a8a8a8;
    column-gap: rem(20);
    margin-top: rem(5);

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 8, 16);
    }
  }

  &__property-size {
  }

  &__property-price {
  }

  &__title {
    display: inline-block;
    font-family: $fontSecond;
    font-weight: 600;
    @include adpv('margin-bottom', 1, 16, 14);
    line-height: 140%;

    text-transform: uppercase;

    color: #272727;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    @include adpv('gap', 1, 20, 14);
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 14, 6);
    }
  }

  &__price {
    display: inline-block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    font-weight: 500;
    font-size: rem(14);
    line-height: 140%;
    color: #272727;
  }

  &__price-duty {
    flex: 1 1 auto;

    font-size: rem(11);
    line-height: 140%;

    color: #818181;

    a {
      display: inline-block;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__cart-button {
  }
  &__watch-inner {
    display: flex;
    align-items: center;
  }
  &__watch-more {
    flex: 1 1 auto;
    a {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;

      font-size: rem(12);
      line-height: 140%;
      color: #818181;

      transition: all 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #cf6e2b;

          &::before {
            color: #cf6e2b;
          }
        }
      }
      &::before {
        margin-left: rem(4);
        font-size: rem(8);
        transform: translate(0px, 1px);
      }
    }
  }
}

.cart-button {
  @include adpv('height', 1, 46, 30);
  @include adpv('width', 1, 46, 30);
  background: #f6f6f6;
  border-radius: rem(5);
  @media (any-hover: hover) {
    &:hover {
      &::before {
        color: #cf6e2b;
      }
    }
  }
  &::before {
    transition: color 0.2s ease 0s;
    @include adpv('font-size', 1, 22, 14);
  }
}
