.footer-addresses {
  &__container {
  }

  &__spollers {
  }
}
.spollers-addresses {
  display: grid;

  @include adpv('gap', 1, 22, 10);
  @media (min-width: em(1150)) {
    grid-template-columns: repeat(auto-fit, minmax(rem(360), 1fr));
  }
  &__item {
    background: #131d28;
    border-radius: rem(5);
    @include adpv('padding-top', 1, 40, 20);
    @include adpv('padding-bottom', 1, 40, 20);
    @include adpv('padding-left', 1, 50, 20);
    @include adpv('padding-right', 1, 50, 20);

    color: $color-white;
    @media (min-width: em(621)) {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__title {
    display: flex;
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 600;
    align-items: center;
    @include adpv('font-size', 1, 20, 14);
    line-height: 140%;
    text-transform: uppercase;
    span {
      text-align: left;
    }
    &::before {
      font-size: rem(26);
      margin-right: rem(18);
    }
    cursor: default;
    @media (max-width: em(620)) {
      cursor: pointer;
      width: 100%;

      span {
        flex: 1 1 auto;
        margin-right: rem(14);
      }
    }
    &::after {
      @extend %ic;
      @media (max-width: em(620)) {
        content: '\e912';

        font-size: rem(14);
        transform: rotate(90deg);
        transition: transform 0.3s ease 0s;
      }
    }
    &._spoller-active {
      &::after {
        @media (max-width: em(620)) {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__body {
    &:not(:first-child) {
      @include adpv('margin-top', 1, 14, 20);
    }
    @media (min-width: em(621)) {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      flex: 1 1 auto;
    }
  }

  &__phone {
    font-family: $fontSecond;
    @include adpv('font-size', 1, 24, 16);
    font-weight: 600;
    line-height: math.div(36, 20);
    display: block;
  }

  &__mail {
    @include adpv('font-size', 1, 16, 14);
    line-height: 150%;
    color: #f4dd99;
    display: inline-block;
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 26, 18);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
    line-height: 150%;

    @media (min-width: em(621)) {
      flex: 1 1 100%;
    }
    @include adpv('font-size', 1, 14, 12);

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 13, 20);
    }
  }

  &__info-call {
    display: inline-block;
    padding: rem(6) rem(15);
    border: 1px solid #e5e5e5;
    border-radius: rem(5);
    background-color: #131d28;

    font-size: rem(14);
    line-height: 150%;
    span {
      color: #ffac72;
    }

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $color-white;
        color: #131d28;
        span {
          color: #ee8840;
        }
      }
    }
  }
}
