.header {
  position: relative;

  &__wrapper {
    position: relative;
    z-index: 2;
  }
  &__top {
  }
  &__middle {
  }
  &__bottom {
  }
  &__bottom-menu {
  }
}
.top-header {
  background: linear-gradient(-90deg, #306678 21.06%, #cf6e2b 90.9%);

  &._close {
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(40);
    padding-top: rem(6);
    padding-bottom: rem(6);
  }

  &__text {
    color: #fadb99;
    font-style: italic;
    font-weight: 600;
    @include adpv('font-size', 1, 18, 14);
    font-family: $fontSecond;
    line-height: math.div(25, 18);
    text-transform: uppercase;
  }
  &__close {
    flex: 0 0 rem(30);
    width: rem(30);
    height: rem(30);
    background-color: transparent;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 50%;
      left: 50%;
      background-color: $color-white;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 50%;
      left: 50%;
      background-color: $color-white;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.middle-header {
  background-color: $color-dark;

  &__container {
  }
  &__top {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 200vw;
      height: 1px;
      background-color: #4e4e4e;
      transform: translate(-50%, 0px);
    }
  }

  &__main {
  }
}
.top-middle-header {
  font-weight: 500;
  font-size: rem(14);
  line-height: math.div(18, 14);
  color: $color-white;
  display: flex;
  padding: rem(8) 0px;
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: rem(168) minmax(rem(200), rem(880)) auto;
    @include adpv('gap', 1, 42, 34, 1350, 991);
    align-items: flex-start;
    padding: rem(4) 0px;
  }

  @media (max-width: $mobile) {
    gap: rem(20);
    justify-content: space-between;
  }

  &__search {
    @media (min-width: $mobile) {
      display: none;
    }
    padding: rem(10);
    margin-right: rem(-10);

    &::before {
      color: $color-white;
      transition: color 0.3s ease 0s;
      font-size: rem(14);
    }
    @media (any-hover: hover) {
      &:hover {
        &:hover {
          &::before {
            color: $color-orange;
          }
        }
      }
    }
  }

  &__location {
    color: $color-white;
    display: flex;
    align-items: center;
    gap: rem(7);

    @media (max-width: $mobile) {
      font-size: rem(20);
    }
  }

  &__location-link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    padding: rem(10) 0px;
  }

  &__menu {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__authorization {
    justify-self: end;

    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__login {
    display: block;
    padding: rem(10) 0px;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__registration {
    display: block;
    padding: rem(10) 0px;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.menu-header-list {
  display: grid;
  row-gap: rem(20);
  @media (min-width: $tablet) {
    display: flex;
    row-gap: rem(4);
    column-gap: rem(14);
    flex-wrap: wrap;
    align-items: center;
    margin: 0px rem(-6);
  }

  @media (max-width: $tablet) {
    justify-items: center;
    justify-content: center;
  }

  &__item {
    &_presents {
      display: flex;
      align-items: center;
      margin-left: rem(6);
      gap: rem(7);
      &::before {
        display: block;
        color: $color-orange;
        transform: translate(0px, rem(-2));
      }
    }

    &_comments {
      position: relative;
      span {
        pointer-events: none;
        position: absolute;
        color: #ffac72;
        font-weight: 500;
        font-size: rem(10);
        line-height: 140%;
        top: rem(6);
        right: rem(-12);
      }
    }
  }

  &__link {
    display: block;
    padding: rem(10) rem(6);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $tablet) {
      font-size: rem(20);
    }
  }
}

.main-middle-header {
  @include adpv('padding-top', 1, 30, 20);
  @include adpv('padding-bottom', 1, 30, 20);

  display: flex;

  align-items: center;
  color: $color-white;
  @include adpv('gap', 1, 42, 20, 1350, 991);

  &__menu {
    @media (min-width: $tablet) {
      display: none;
    }
  }
  &__logo {
    flex: 0 0 rem(168);

    @media (max-width: $mobile) {
      flex: 0 0 rem(130);
      & img {
        width: 100%;
      }
    }
    @media (max-width: rem(380)) {
      flex: 0 0 rem(76);
    }
  }

  &__tagline {
    flex: 0 1 rem(266);
    p {
      font-weight: 600;
      font-size: 15px;
      line-height: 140%;
      text-transform: uppercase;
      font-family: $fontSecond;
      font-style: italic;
      pointer-events: none;
    }

    @media screen and (max-width: rem(1160)) {
      display: none;
    }
  }

  &__search {
    background-color: $color-white;

    padding: rem(10) rem(0) rem(10) rem(20);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $mobile) {
      flex: 1 0 rem(200);
      border-radius: rem(5);
    }
    @media (max-width: $mobile) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      outline: rem(16) solid $color-orange;
      z-index: 6;
      transition: top 0.5s ease 0s;
      &.search-open {
        top: 0;
      }
    }
  }

  &__input {
    flex: 1 1 auto;
    font-family: PTRootUI;
    color: $color-dark;
    font-size: rem(14);
    line-height: 140%;
    &::placeholder {
      color: #807e7e;
    }
    &:focus {
      outline: none;
    }
  }

  &__search-button {
    padding: rem(11) rem(14);
    background-color: transparent;
    &::before {
      font-size: rem(18);
      color: $color-dark;
    }
  }

  &__map {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    column-gap: rem(30);
    margin-right: rem(8);

    @media (max-width: $tablet) {
      @include adpv('column-gap', 1, 10, 4);
      margin-right: rem(-2);
    }
    @media (max-width: $mobile) {
      flex: 1 1 auto;
    }
    span {
      position: absolute;
      top: rem(-8);
      right: rem(-8);
      height: rem(18);
      width: rem(18);
      background-color: $color-white;
      border-radius: 50%;
      color: $color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: rem(11);

      @media (max-width: $tablet) {
        top: rem(2);
        right: rem(2);
      }
    }
  }

  &__call {
  }

  &__call-phone {
    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $color-orange;
        }
      }
    }
    &::before {
      transition: color 0.3s ease 0s;
      font-size: rem(21);
      @media (min-width: $tablet) {
        display: none;
      }
      padding: rem(10);
    }
    p {
      font-weight: 600;
      font-size: rem(20);
      line-height: 140%;
      font-family: $fontSecond;
      white-space: nowrap;

      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: $color-orange;
        }
      }

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__call-date {
    font-size: rem(12);
    line-height: 140%;
    color: #a8a8a8;
    text-align: right;
    white-space: nowrap;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__like {
    position: relative;
    &::before {
      font-size: rem(23.5);
      transition: color 0.3s ease 0s;
      @media (max-width: $tablet) {
        padding: rem(10);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $color-orange;
        }
      }
    }
  }
  &__cart {
    position: relative;
    &::before {
      font-size: rem(26);
      transition: color 0.3s ease 0s;
      @media (max-width: $tablet) {
        padding: rem(10);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $color-orange;
        }
      }
    }
  }
}

.bottom-header {
  @media (min-width: $tablet) {
    position: relative;

    background-color: $color-white;
    z-index: 2;
  }
  &__container {
  }

  &__inner {
    @media (max-width: em(1266)) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (min-width: $tablet) {
      position: relative;
      z-index: 2;
      background-color: $color-white;
      display: flex;
      align-items: center;
      @include adpv('column-gap', 1, 96, 40);
      margin: 0px rem(-20);
    }
    @media (max-width: $tablet) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background-color: $color-dark;
      display: grid;
      justify-items: center;
      align-items: start;
      align-content: start;
      gap: rem(20);
      z-index: 11;
      transition: top 0.3s ease 0s;
      padding: rem(70) rem(20);
      &.open-items {
        top: 0%;

        &::before {
          content: '';
          position: fixed;
          width: 100%;
          height: rem(70);
          background-color: $color-dark;
          top: 0;
          left: 0;
          z-index: 12;
        }
      }
    }
  }

  &__item {
    &:focus {
      outline: none;
    }
    font-weight: 600;
    @include adpv('font-size', 1, 20, 14);
    line-height: 140%;
    font-family: $fontSecond;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    span {
      opacity: 0.2;
    }
    padding: rem(20) rem(20);

    &::before {
      margin-left: rem(6);
      font-size: rem(8);
      @media (max-width: $tablet) {
        transform: rotate(-90deg) translate(rem(1), 0px);
        font-size: rem(9);
      }
    }
    &_sale {
      &::before {
        font-size: rem(19);
        color: $color-orange;

        @media (max-width: $tablet) {
          transform: rotate(0deg) translate(rem(0), 0px);
        }
      }
    }

    @media (max-width: em(1266)) {
      flex: 1 1 rem(380);
      justify-content: center;
      padding: rem(10) rem(0);

      font-size: rem(14);
    }
    @media (max-width: $tablet) {
      color: $color-white;
    }
  }

  &__back {
    display: flex;
    position: fixed;
    top: -100%;
    right: rem(10);
    z-index: 20;
    font-size: rem(20);
    align-items: center;
    padding: rem(10);
    color: $color-white;
    &::before {
      margin-right: rem(10);
      transform: rotate(-180deg);
      font-size: rem(12);
    }

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    .open-items & {
      visibility: visible;
      opacity: 1;
      top: rem(10);
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.bottom-menu {
  &__item {
    @media (min-width: $tablet) {
      position: absolute;
      height: auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
      background-color: $color-dark;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease 0s;
      padding: rem(16) 0px;

      &.open-item {
        top: 100%;
        visibility: visible;
        opacity: 1;
        @media (max-width: $tablet) {
          top: 0;
        }
      }
    }

    @media (max-width: $tablet) {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: $color-dark;
      top: -100%;
      left: 0;
      z-index: 12;
      overflow-y: auto;
      transition: top 0.3s ease 0s;
      padding: rem(70) rem(20);
      &.open-item {
        top: 0%;

        &::before {
          content: '';
          position: fixed;
          width: 100%;
          height: rem(70);
          background-color: $color-dark;
          top: 0;
          left: 0;
          z-index: 13;
          transition: top 0.3s ease 0s;
        }
      }
    }
  }
  &__back {
    display: flex;
    position: fixed;
    top: -100%;
    right: rem(10);
    z-index: 20;
    font-size: rem(20);
    align-items: center;
    padding: rem(10);
    &::before {
      margin-right: rem(10);
      transform: rotate(-180deg);
      font-size: rem(12);
    }

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    .open-item & {
      visibility: visible;
      opacity: 1;
      top: rem(10);
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.item-bottom-menu {
  &__container {
  }

  &__nav {
  }

  &__list {
    display: grid;
    gap: rem(10);
    @media (min-width: $tablet) {
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    }
    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  &__item {
  }

  &__link {
    color: $color-white;
    transition: color 0.3s ease 0s;
    font-size: rem(17);
    padding: rem(10);
    display: inline-block;
    @media (any-hover: hover) {
      &:hover {
        color: $color-orange;
      }
    }

    @media (max-width: $tablet) {
      padding: rem(10) rem(6);

      font-size: rem(20);
    }
  }
}

//menu in burger
.menu {
  &__icon {
  }
  &__sub-list {
    @media (min-width: $tablet) {
      display: none;
    }
  }
  &__catalog-button {
    font-size: rem(20);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: rem(20);

    &::before {
      font-size: rem(14);
      margin-left: rem(10);
    }
  }
  &__body {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: $color-dark;
    overflow-y: auto;
    @media (min-width: $tablet) {
      display: none;
    }
    text-align: center;
    transition: top 0.3s ease 0s;
    padding: rem(70) rem(20);
    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: rem(70);
      background-color: $color-dark;
      top: -100%;
      left: 0;
      z-index: 11;
      transition: top 0.3s ease 0s;
    }
    .menu-open & {
      top: 0px;

      &::before {
        top: 0px;
      }
    }
  }
  &__icon-wrapper {
    .menu-open & {
      position: fixed;
      top: rem(20);
      z-index: 20;
    }
  }
}

//Burger
.icon-menu {
  display: none;

  &:focus {
    outline: none;
  }
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(36);
    height: rem(28);
    cursor: pointer;
    z-index: 20;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(3);
      background-color: #ffffff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
