//home page styles

.page {
  @include adpv('margin-top', 1, 65, 32);
  &__preview-banner {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 58, 10);
    }
  }
  &__offer-cards {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 64, 40);
    }
  }
  &__premiere {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 30, 10);
    }
  }

  &__benefits {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 55, 45);
    }
  }

  &__popular-products {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 52, 57);
    }
  }

  &__design {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 64, 50);
    }
  }
  &__series {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 56, 50);
    }
  }
  &__map-main {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 60, 42);
    }
  }
}

//offer-cards block
.offer-cards {
  &__title {
    @include adpv('margin-bottom', 1, 24, 10);
  }
  &__inner {
    display: grid;
    @include adpv('gap', 1, 20, 10);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    }
  }
}

//popular products block
.popular-products {
  &__container {
    &_slider {
      @media (max-width: $pc) {
        max-width: none;
        padding: 0px;
      }
    }
  }

  &__heading {
    gap: rem(20);
    display: flex;
    @media (min-width: $tablet) {
      align-items: flex-start;
      justify-content: flex-start;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      gap: rem(10);
    }

    @include adpv('margin-bottom', 1, 27, 22);
  }

  &__decor {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 700;

    text-transform: uppercase;
    @include adpv('font-size', 1, 40, 24);
    color: #272727;
    padding: rem(8) rem(16);
    background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
    border-radius: rem(5);
    @media (max-width: $tablet) {
      font-weight: 600;
    }
  }

  &__title {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    @include adpv('font-size', 1, 40, 24);
    color: #272727;
    @media (max-width: $tablet) {
      text-align: center;
    }
    span {
      white-space: nowrap;
    }
  }

  &__slider {
    @include adpv('margin-bottom', 1, 36, 19);
  }

  &__button-wrapper {
    text-align: center;
  }

  &__button {
  }
}
.button-more {
  font-family: $fontSecond;
  padding: rem(10) rem(20);
  font-weight: 600;
  font-size: rem(14);
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #272727;
  border: 1px solid #272727;
  border-radius: rem(5);
  background-color: $color-white;
  transition: all 0.2s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      border-color: $color-white;
      background-color: #272727;
      color: $color-white;
    }
  }
}

//design block styles
.design-block {
  &__container {
  }

  &__title {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 28, 20);
    }
  }

  &__cards {
  }
}

//series block

.series-block {
  position: relative;
  overflow: hidden;
  padding-top: rem(25);
  &::before {
    content: '';
    width: 100%;
    height: rem(242);
    top: 0;
    left: 0;
    background: url('@img/series-block/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
  &__container {
  }

  &__inner {
  }

  &__title {
    color: $color-white;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 1 rem(177);
    @media (min-width: $mobileSmall) {
      flex: 1 1 rem(220);
    }
    @include adpv('min-height', 1, 178, 120);
    position: relative;
    display: block;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;

      @include adpv('height', 1, 60, 40);
      background: rgba(39, 39, 39, 0.6);
    }
  }

  &__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    @include adpv('left', 1, 33, 14);
    @include adpv('bottom', 1, 16, 10);

    &_5 {
      width: rem(85);
      height: rem(16);
      @include adpv('bottom', 1, 20, 10);
    }
    @media (max-width: $mobile) {
      &_1 {
        width: rem(48);
        height: rem(22);
        @include adpv('bottom', 1, 16, 12);
      }
      &_2 {
        width: rem(53);
        height: rem(16);
        @include adpv('bottom', 1, 16, 12);
      }
      &_3 {
        width: rem(74);
        height: rem(16);
        @include adpv('bottom', 1, 16, 12);
      }
      &_4 {
        width: rem(118);
        height: rem(10);
        @include adpv('bottom', 1, 16, 14);
      }
      &_5 {
        width: rem(118);
        height: rem(10);

        @include adpv('bottom', 1, 16, 14);
      }
    }
  }

  &__image {
    z-index: -1;
  }
}

//map block styles

.map-main {
  &__container {
    &_mod {
      max-width: rem(1442);
      padding: 0px;
    }
  }

  &__heading {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 45, 20);
    }

    text-align: center;
    text-transform: uppercase;
    font-family: $fontSecond;
    color: #272727;
  }

  &__title {
    font-weight: 700;
    @include adpv('font-size', 1, 48, 24);
    line-height: 100%;
  }

  &__sub-title {
    font-weight: 600;
    @include adpv('font-size', 1, 20, 14);
    line-height: math.div(40, 20);
  }

  &__inner {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: minmax(rem(300), rem(844)) minmax(rem(500), 1fr);
    }
    @media (max-width: $tablet) {
      display: flex;
      flex-flow: column-reverse nowrap;
    }
  }

  &__map-block {
    display: block;
    img {
      width: 100%;
    }
  }

  &__content {
    background: linear-gradient(90deg, #306678 21.06%, #bf722d 82.39%);

    @media (min-width: em(1443)) {
      border-radius: rem(0) rem(15) rem(15) rem(0);
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    @include adpv('gap', 1, 12, 10);
    @include adpv('padding-bottom', 1, 68, 26);
    @include adpv('padding-left', 1, 77, 40);
    @include adpv('padding-right', 1, 77, 40);
    @include adpv('padding-top', 1, 60, 26);
  }

  &__text {
    font-family: $fontSecond;
    font-weight: 600;
    line-height: 160%;
    @include adpv('font-size', 1, 20, 14);
    text-transform: uppercase;
    color: $color-white;
  }

  &__more {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: rem(17);
    font-weight: 500;
    @include adpv('font-size', 1, 20, 14);
    line-height: 160%;
    color: #ffac72;

    &::before {
      font-size: rem(15);
      transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: translate(rem(6), 0px);
        }
      }
    }
  }
}
