.page {
  &__product-block {
    @include adpv('margin-top', 1, 48, 26);
    &:not(:last-child) {
      margin-bottom: rem(36);
    }
  }
  &__product-tabs {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 64, 38);
    }
  }
}
.product-block {
  &__container {
  }
  &__info-mod {
    @media (min-width: $tablet) {
      display: none;
    }
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  &__inner {
    display: grid;

    @include adpv('gap', 1, 86, 20);
    @media (min-width: $tablet) {
      grid-template-columns: minmax(rem(500), 1fr) minmax(rem(300), rem(514));
    }
  }

  &__column {
  }

  &__preview {
    &:not(:last-child) {
      margin-bottom: rem(14);
    }
  }
  &__button-wrapper {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $mobileSmall) {
      justify-content: center;
    }
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 126, 30);

      @media (max-width: $tablet) {
        &:not(:last-child) {
          margin-bottom: rem(30);
        }
      }
    }
  }

  &__show-more {
    display: inline-flex;
    gap: rem(8);
    align-items: center;
    padding: rem(12) rem(15);
    border: rem(1) solid #272727;
    border-radius: rem(5);

    transition: all 0.2s ease 0s;

    &::before {
      transition: all 0.3s ease 0s;
    }
    span {
      font-family: $fontSecond;

      font-weight: 600;
      font-size: rem(14);
      line-height: 120%;

      text-align: center;
      text-transform: uppercase;

      color: #272727;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #272727;

        span {
          color: $color-white;
        }
        &:before {
          color: $color-white;

          transform: rotate(-180deg);
        }
      }
    }
  }
  &__banner-discound {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 28, 16);
    }
  }
  &__banner-request {
  }

  // second column styles
  &__heading {
    &:not(:last-child) {
      margin-bottom: rem(12);

      @media (max-width: $tablet) {
        margin-bottom: rem(20);
      }
    }
  }

  &__inner-mod {
    max-width: rem(402);
    @media (max-width: $tablet) {
      max-width: none;
    }
  }
  &__info {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }
  &__colors {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 30, 12);
    }
  }
  &__sizes {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 26, 12);
    }
  }
  &__buy {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 22, 12);
    }
  }
  &__banner {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 20, 12);
    }
  }
  &__about {
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 20, 12);
    }
  }
}

// preview block
.preview-product {
  display: grid;

  @include adpv('gap', 1, 20, 10);

  grid-template-columns: minmax(rem(70), rem(114)) minmax(rem(280), 1fr);

  @include adpv('margin-bottom', 1, 20, 10);

  @media (max-width: em(380)) {
    margin: 0px rem(-15) 0px rem(-10);
  }
  @media (max-width: em(370)) {
    grid-template-columns: minmax(rem(70), rem(114)) minmax(rem(230), 1fr);
  }
  &__thumbs {
  }

  &__thumbs-images {
    &:not(:last-child) {
      margin-bottom: rem(34);
    }
  }

  &__thumbs-videos {
  }

  &__main-preview {
  }
}
.thumbs-images {
  &__slider-next {
    position: absolute;
    width: rem(34);
    height: rem(22);
    background-color: #ffffff;
    border: rem(1) solid #272727;
    border-radius: rem(5);
    top: rem(-11);
    left: 50%;
    transform: translate(-50%, 0px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      @extend %ic;
      content: '\e912';
      transform: rotate(-90deg);
    }
  }
  &__slider-prev {
    position: absolute;
    width: rem(34);
    height: rem(22);
    background-color: #ffffff;
    border: rem(1) solid #272727;
    border-radius: rem(5);
    bottom: rem(-11);
    left: 50%;
    transform: translate(-50%, 0px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      @extend %ic;
      content: '\e912';
      transform: rotate(90deg);
    }
  }
  &__wrapper-mod {
    position: relative;
  }
  &__title {
    margin-bottom: rem(18);
  }
  &__slider {
    height: rem(216);
    position: relative;
    @media (max-width: em(400)) {
      height: rem(166);
    }
  }

  &__wrapper {
    height: 100% !important;
  }

  &__slide {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: rem(5);

    &.swiper-slide-thumb-active {
      border: 1px solid #272727;
    }
  }

  &__image-ibg_contain {
    width: 100%;

    padding-bottom: 50%;
  }
}

.thumbs-videos {
  &__slider-next {
    position: absolute;
    width: rem(34);
    height: rem(22);
    background-color: #ffffff;
    border: rem(1) solid #272727;
    border-radius: rem(5);
    top: rem(-11);
    left: 50%;
    transform: translate(-50%, 0px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      @extend %ic;
      content: '\e912';
      transform: rotate(-90deg);
    }
  }
  &__slider-prev {
    position: absolute;
    width: rem(34);
    height: rem(22);
    background-color: #ffffff;
    border: rem(1) solid #272727;
    border-radius: rem(5);
    bottom: rem(-11);
    left: 50%;
    transform: translate(-50%, 0px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      @extend %ic;
      content: '\e912';
      transform: rotate(90deg);
    }
  }
  &__wrapper-mod {
    position: relative;
  }
  &__title {
    margin-bottom: rem(18);
  }

  &__slider {
    height: rem(216);
    @media (max-width: em(400)) {
      height: rem(166);
    }
  }

  &__wrapper {
    height: 100% !important;
  }

  &__slide {
    border-radius: rem(5);
    overflow: hidden;
  }

  &__image-ibg {
    height: 100%;
  }
}
.main-preview {
  height: rem(551);
  border: rem(1) solid #e5e5e5;
  border-radius: rem(7);

  @media (max-width: em(380)) {
    height: rem(450);
  }
  &__slider {
    height: 100% !important;
  }

  &__wrapper {
  }

  &__slide {
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      padding: rem(10);
    }
  }

  &__image-ibg {
    &_contain {
      width: 100%;
      padding-bottom: 80%;

      @media (max-width: $tablet) {
        width: 100%;
        height: 100%;
        padding-bottom: 0%;
      }
    }
  }
}

.thumbs-title {
  font-size: rem(14);
  line-height: 140%;
  color: #818181;
}

//banners

.discount-banner {
  &__inner {
    background: #306678;
    border: rem(1) solid #e5e5e5;
    border-radius: rem(9);
    padding: rem(35) rem(14) rem(24) rem(14);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media (min-width: $tablet) {
      max-width: rem(346);
    }
  }

  &__title {
    font-family: $fontSecond;
    font-weight: 600;
    line-height: 130%;
    @include adpv('font-size', 1, 20, 18);
    text-align: center;
    color: $color-white;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__sub-title {
    font-style: italic;

    font-size: rem(13);
    line-height: 140%;

    text-align: center;

    color: $color-white;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    font-size: rem(12);
    line-height: 140%;

    color: rgba(255, 255, 255, 0.45);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__phone {
    font-family: $fontSecond;
    font-weight: 600;
    @include adpv('font-size', 1, 22, 20);
    line-height: 140%;

    color: $color-white;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__email {
    font-weight: 500;
    font-size: rem(14);
    line-height: 140%;

    transition: color 0.2s ease 0s;
    color: $color-white;
    @media (any-hover: hover) {
      &:hover {
        color: #ffac72;
      }
    }
  }
}

.request-banner {
  &__inner {
    border: rem(1) solid #e5e5e5;
    border-radius: rem(9);

    @media (min-width: $tablet) {
      max-width: rem(380);
    }
    padding: rem(30) rem(40);
    display: flex;
    flex-flow: column nowrap;

    @media (max-width: $mobileSmall) {
      padding: rem(20) rem(20);
    }
  }

  &__title {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 700;

    @include adpv('font-size', 1, 34, 20);
    line-height: 120%;
    text-transform: uppercase;
    color: #272727;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: 140%;
    color: #2c2c2c;
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

  &__form {
  }

  &__inputs {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__name-input {
    padding-bottom: rem(16);
    border-bottom: 1px solid #c4c4c4;

    font-size: rem(16);
    line-height: 140%;
    max-width: rem(301);

    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #818181;
    }
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__name-number {
    padding-bottom: rem(16);
    border-bottom: 1px solid #c4c4c4;

    font-size: rem(16);
    line-height: 140%;

    max-width: rem(301);

    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #818181;
    }
  }

  &__plan {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__plan-title {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
    font-size: rem(14);
    line-height: 140%;

    color: #818181;
  }

  &__plan-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: rem(8);
  }

  &__plan-item {
    padding: rem(4) rem(10);
    border: 1px solid #e5e5e5;
    border-radius: rem(5);
    font-size: rem(14);
    line-height: 140%;
    cursor: pointer;
    color: #818181;

    &_active {
      background: #306678;
      border-radius: rem(5);
      border: 1px solid #306678;
      color: $color-white;
    }
  }

  &__button-send {
    background: linear-gradient(270deg, #ffaf78 8.96%, #f4dd99 50%);
    border-radius: rem(9);
    text-align: center;
    display: flex;
    gap: rem(10);
    align-items: center;
    padding: rem(20) rem(30);

    @media (max-width: $mobileSmall) {
      padding: rem(10) rem(20);
    }
    @media (min-width: $tablet) {
      width: 100%;
    }
    span {
      flex: 1 1 auto;
      text-align: left;

      font-family: $fontSecond;

      font-weight: 700;
      font-size: rem(16);
      line-height: 140%;

      text-transform: uppercase;

      color: #272727;

      transform: translate(0px, rem(2));
    }

    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - rem(10));
      height: calc(100% - rem(10));
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(270deg, #ffb887 19.77%, #ffde7d 90.82%);
      box-shadow: 0px 0px 9px rgba(249, 123, 21, 0.66);
      border-radius: rem(5);
      transition: filter 0.3s ease 0s;
    }
    img {
      position: relative;
      transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: translate(rem(-10), 0px);
        }
        &::before {
          filter: brightness(94%);
        }
      }
    }
  }
}

//product heading

.heading-product {
  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: rem(20);
    &:not(:last-child) {
      @media (min-width: $tablet) {
        margin-bottom: rem(12);
      }
    }
  }

  &__article {
    font-size: rem(12);
    line-height: 140%;
    color: #818181;
  }

  &__instock {
    display: flex;
    gap: rem(5);
    padding: rem(2) rem(7);
    align-items: center;
    font-size: rem(12);
    line-height: 140%;

    color: #306678;

    background: #e8f0f3;
    border-radius: rem(3);
    pointer-events: none;
  }

  &__title {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 700;

    line-height: 120%;
    @include adpv('font-size', 1, 32, 24);
    text-transform: uppercase;

    color: #272727;

    @media (max-width: $tablet) {
      text-align: center;

      margin-bottom: rem(9);
    }
  }
}

.info-product {
  background: #e8f0f3;
  border-radius: rem(7);

  @include adpv('padding', 1, 20, 10);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(10);

  @media (max-width: $mobileSmall) {
    margin: 0px rem(-15);
    border-radius: rem(0);
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__rating {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }

    & .rating__value {
      font-size: rem(12);
      margin-left: rem(9);
      font-weight: 600;
      color: #818181;
    }
  }
  &__options {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    flex: 1 1 auto;
  }
  &__option {
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
    font-size: rem(14);
    line-height: 140%;

    color: #818181;
  }

  &__price {
    font-family: $fontSecond;

    font-size: rem(16);
    line-height: 140%;

    color: #272727;
    pointer-events: none;
    span {
      font-size: rem(24);
      font-weight: 600;

      @media (max-width: em(360)) {
        font-size: rem(16);
      }
    }
  }

  &__reviews {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    display: flex;
    gap: rem(8);
    flex-wrap: wrap;

    font-size: rem(12);
    line-height: 140%;

    color: #818181;
    a {
      display: flex;
      align-items: center;
      gap: rem(4);
      color: $color-dark;
      font-weight: 600;

      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: $color-orange;
        }
      }
    }
  }
  &__values {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    flex: 1 1 auto;
  }
  &__value {
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
    font-size: rem(14);
    line-height: 140%;
    color: #272727;
  }

  &__payment {
    background: #ffffff;
    border-radius: rem(2);
    display: flex;
    align-items: center;
    padding: rem(2) rem(5);
    gap: rem(10);
    justify-content: space-between;
  }

  &__payment-column {
  }

  &__payment-title {
    font-size: rem(12);
    line-height: 140%;
  }

  &__payment-price {
    font-weight: 700;
    font-size: rem(14);
    line-height: 140%;
    white-space: nowrap;
    color: #306678;
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #f08235;
      }
    }
  }
}

.info-colors {
  &__title {
    font-family: $fontSecond;

    font-weight: 700;
    font-size: rem(12);
    line-height: 140%;
    text-transform: uppercase;
    color: #272727;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    min-height: rem(40);
  }

  &__color {
    width: rem(40);
    height: rem(26);
    &:first-child {
      background: #3450e4;
      border-radius: rem(2) 0px 0px rem(2);

      position: relative;

      &::before {
        @extend %ic;
        content: '\e90e';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
      }
    }
    &:nth-child(2) {
      background: #ff0011;
    }
    &:nth-child(3) {
      background: #000000;
    }
    &:nth-child(4) {
      background: #7d7777;
    }
    &:last-child {
      border: 1px solid #e5e5e5;
      border-radius: 0px 2px 2px 0px;
    }
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        height: rem(40);
        border-radius: rem(2);
      }
    }
  }
}

.product-sizes {
  &__title {
    font-family: $fontSecond;
    font-weight: 700;
    font-size: rem(12);
    line-height: 140%;
    text-transform: uppercase;
    color: #272727;

    &:not(:last-child) {
      margin-bottom: rem(9);
    }
  }

  &__inner {
    display: grid;
    gap: rem(5);
    &:not(:last-child) {
      margin-bottom: rem(9);
    }
  }

  &__item {
    cursor: pointer;
    border: 1px dashed #e5e5e5;
    border-radius: rem(5);
    padding: rem(6) rem(14);

    display: flex;
    align-items: center;
    gap: rem(12);
    &_active {
      background: #306678;
      border: none;
      padding: rem(8) rem(14);
      & .product-sizes__icon {
        opacity: 1;
      }
      & .product-sizes__value {
        color: $color-white;
      }
      & .product-sizes__price {
        color: $color-white;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        & .product-sizes__icon {
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    opacity: 0;
    color: #ffb887;
    transition: opacity 0.3s ease 0s;
    &::before {
      font-size: rem(10);
    }
    pointer-events: none;
  }

  &__value {
    flex: 1 1 auto;
    font-size: rem(14);
    line-height: 140%;
    color: #000000;
    pointer-events: none;
  }

  &__price {
    font-family: $fontSecond;
    font-weight: 600;
    font-size: rem(16);
    line-height: 140%;
    color: #272727;
    pointer-events: none;
  }
  &__all {
    font-size: rem(14);
    line-height: 140%;

    color: #818181;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.buy-product {
  &__to-cart {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__cart-link {
    padding: rem(20) rem(26);
    display: flex;
    align-items: center;
    background: #e8f0f3;
    border-radius: rem(9);
    justify-content: space-between;
    gap: rem(10);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - rem(10));
      height: calc(100% - rem(10));
      background: #306678;
      border-radius: rem(5);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: background 0.3s ease 0s;
    }
    span {
      font-family: $fontSecond;
      font-weight: 700;
      font-size: rem(16);
      line-height: 140%;
      text-transform: uppercase;
      color: $color-white;
      transform: translate(rem(0), rem(2));
    }
    img {
      position: relative;
      transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: translate(rem(-10), 0px);
        }
        &::before {
          background: #255363;
        }
      }
    }
  }

  &__actions {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
    display: flex;
    align-items: center;
    gap: rem(26);
    justify-content: space-between;
  }

  &__one-click {
    flex: 0 1 rem(270);
    display: flex;
    gap: rem(10);

    padding: rem(13) rem(26);
    border: 1px solid #000000;
    border-radius: rem(5);

    @media (max-width: $mobile) {
      flex: 1 1 auto;
    }
    span {
      flex: 1 1 auto;
      font-family: $fontSecond;

      font-weight: 600;
      font-size: rem(16);
      line-height: 140%;

      text-transform: uppercase;

      color: #272727;
      transform: translate(rem(0), rem(2));
      @media (max-width: em(382)) {
        font-size: rem(12);
        transform: translate(rem(0), rem(0));
      }
    }

    @media (max-width: em(382)) {
      padding: rem(13) rem(10);
    }
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 4px 4px 8px 0px rgba(160, 87, 4, 0.2);
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(8);
  }
  &__like {
    height: rem(50);
    width: rem(50);
    background: rgba(255, 223, 197, 0.66);
    border-radius: rem(5);

    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 4px 4px 8px 0px rgba(160, 87, 4, 0.2);
      }
    }
  }

  &__share {
    height: rem(48);
    width: rem(48);
    border: 1px solid #000000;
    border-radius: 5px;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 4px 4px 8px 0px rgba(44, 46, 47, 0.2);
      }
    }
  }

  &__questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }

  &__question {
    font-size: rem(14);
    line-height: 140%;

    color: #818181;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__ask {
    display: flex;
    align-items: center;
    gap: rem(8);

    font-size: rem(14);
    line-height: 140%;

    color: #818181;

    a {
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.banner-product {
  &__inner {
    @include adpv('padding', 1, 20, 10);
    background: #f6f6f6;
    border-radius: rem(8);
  }

  &__image-ibg {
    display: block;
    padding-bottom: rem(268);
    border-radius: rem(8);
    overflow: hidden;
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    &::before {
      content: '';
      width: rem(60);
      height: rem(60);
      position: absolute;
      bottom: rem(30);
      left: rem(35);
      background: url('@img/product-page/preview/banner-play.svg') center no-repeat;
      transition: transform 0.3s ease 0s;
      z-index: 2;

      @media (max-width: $tablet) {
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1.1);

          @media (max-width: $tablet) {
            transform: translate(-50%, 50%) scale(1.1);
          }
        }
      }
    }
  }

  &__title {
    font-family: $fontSecond;
    font-style: italic;
    font-weight: 600;
    line-height: 140%;
    @include adpv('font-size', 1, 20, 18);
    text-transform: uppercase;

    color: #272727;
    @media (max-width: $tablet) {
      text-align: center;
    }
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: rem(10);
    justify-content: space-between;
  }

  &__icon-link {
    img {
      @media (max-width: $mobileSmall) {
        width: rem(90);
      }
    }
  }

  &__to-series-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: rem(8);
    font-size: rem(14);
    line-height: 140%;
    padding: rem(5) rem(5);
    color: #818181;

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #cf6e2b;
      }
    }
  }
}

.about-product {
  &__inner {
    border: 1px solid #e5e5e5;
    border-radius: rem(5);
  }

  &__spollers {
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #eeeeee;
    }
  }

  &__heading {
    @include adpv('padding', 1, 18, 12);
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: rem(14);
    transition: background 0.6s ease 0s;
    &._spoller-active {
      background: #f6f6f6;
    }
  }

  &__icon {
    &::before {
      font-size: rem(17);
      transform: translate(0px, rem(2));
    }
  }

  &__title {
    flex: 1 1 auto;
    text-align: left;
    line-height: 140%;
    @include adpv('font-size', 1, 16, 14);
    color: #272727;
  }

  &__icon-arrow {
    &::before {
      transition: transform 0.3s ease 0s;
      font-size: rem(10);
      transform: translate(0px, rem(7));
      ._spoller-active & {
        transform: translate(0px, rem(7)) rotate(180deg);
      }
    }
  }

  &__body {
    @include adpv('padding', 1, 18, 12);
    padding-top: rem(6);
    transition: background 0.3s ease 0s;

    background: #f6f6f6;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    font-size: rem(14);
    line-height: 140%;

    color: #5f5f5f;
  }

  &__address {
    span {
      font-weight: 700;
    }
    font-size: rem(14);
    line-height: 140%;

    color: #272727;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__time-work {
    span {
      font-size: rem(14);
      line-height: 140%;

      color: #272727;
    }
    a {
      color: #f08235;
      font-weight: 500;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// product tabs

.product-tabs {
  &__inner {
  }

  &__container {
  }

  &__navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include adpv('gap', 1, 58, 18);
    overflow-x: auto;
  }

  &__title {
    white-space: nowrap;
    min-height: rem(50);

    font-family: $fontSecond;

    font-weight: 600;
    font-size: rem(16);
    line-height: 140%;

    text-transform: uppercase;

    color: #272727;

    &._tab-active {
      border-bottom: 2px solid black;
    }
    position: relative;
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #cf6e2b;

        &._tab-active {
          color: #272727;
        }
      }
    }

    span {
      position: absolute;
      font-family: $fontSecond;
      font-style: italic;
      font-weight: 600;
      font-size: rem(12);
      line-height: 140%;

      text-transform: uppercase;

      color: #a8a8a8;
      left: 100%;
      top: 0;
    }
  }

  &__content {
  }

  &__body {
    &_mod {
      background: linear-gradient(90deg, #306678 21.06%, #cf6e2b 90.9%);
    }
  }
  &__body-wrapper {
    @include adpv('padding', 1, 38, 20);
    padding-left: rem(10);
    padding-right: rem(10);
  }
  &__body-title {
    text-align: center;
    font-weight: 500;
    @include adpv('font-size', 1, 20, 14);
    line-height: 140%;
    text-align: center;
    color: $color-white;

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 30, 20);
    }
  }

  &__body-sub-title {
    text-align: center;
    font-family: $fontSecond;
    font-weight: 600;
    line-height: 150%;
    @include adpv('font-size', 1, 24, 18);
    text-transform: uppercase;
    color: $color-white;

    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 36, 18);
    }
  }

  &__body-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: rem(20);
    row-gap: rem(30);
    &:not(:last-child) {
      @include adpv('margin-bottom', 1, 36, 20);
    }
    flex-wrap: wrap;
  }

  &__body-item {
    flex: 1 1 calc(25% - rem(20));
    text-align: center;

    @media (max-width: $tablet) {
      flex: 1 1 calc(50% - rem(10));
    }
    @media (max-width: $mobileSmall) {
      flex: 1 1 100%;
    }
  }

  &__icon {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    img {
      @include adpv('width', 1, 32, 18);
    }
  }

  &__item-text {
    font-weight: 500;

    line-height: 140%;
    text-align: center;
    color: $color-white;

    @include adpv('font-size', 1, 16, 13);
  }

  &__more {
    display: flex;
    justify-content: center;
  }
  &__more-button {
    padding: rem(10) rem(14);
    border: 1px solid #ffffff;
    border-radius: rem(5);
    font-family: $fontSecond;

    font-weight: 600;
    font-size: rem(14);
    line-height: 140%;

    text-align: center;
    text-transform: uppercase;

    color: $color-white;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        border-color: #f3a065;
        color: #faae77;
      }
    }

    @media (max-width: $mobileSmall) {
      display: block;
      width: calc(100% - rem(30));
    }
  }
}
